.about{
    padding: 100px 0px 50px;
    min-height: 600px;
    background-image: url("https://static3.bigstockphoto.com/6/3/3/large1500/336269068.jpg");
    background-size: cover;
    p{
        text-align: center;
        color: rgb(7, 7, 146);
        font-size: 20px;
    }
}