.contact-wrapper {
  background-image: url("https://cdn.pixabay.com/photo/2018/05/07/17/16/contact-details-3381225__340.jpg");
  background-size: cover;
  min-height: 600px;
  padding: 100px 15px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contact {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.5);
    a,
    div {
      display: flex;
      align-items: center;
      color: white;
      padding: 0px 10px;
      margin: 5px 0px;
      justify-content: flex-start;
      width: 100%;
      max-width: 470px;
      p {
        word-break: break-all;
        width: 100%;
        text-align: center;
      }
      .social {
        font-size: 40px;
      }
    }
    a:hover {
      background-color: blue;
      color: white;
    }
  }
}
